<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <title>Movie Query</title>
</head>

<body>
    <div id="app">
        <v-app id="inspire">
            <v-container>
                <v-row>
                    <v-col>
                        <v-btn @click="createDB">
                            Create Database
                        </v-btn>
                        <v-btn @click="deleteDB" :disabled="dbUnloaded">
                            Delete Database
                        </v-btn>
                        <v-text-field :rules="numbers" label="Year" v-model="year" :disabled="dbUnloaded">
                        </v-text-field>
                        <v-text-field :rules="name" label="Name" v-model="title" :disabled="dbUnloaded">
                        </v-text-field>
                        <v-btn @click="searchDB" class="mt-3" :disabled="dbUnloaded">
                            Search
                        </v-btn>
                    </v-col>
                    <v-divider vertical></v-divider>
                    <v-col>
                        <ul id="film-list" style="max-height: 90vh; overflow-y: scroll;">
                            <li v-for="film in films" :key="film.title">
                                <v-container>
                                    <v-row>
                                        <v-col>
                                            {{film.title}}
                                        </v-col>
                                        <v-col>
                                            {{film.info.release_date.substr(0, 10)}}
                                        </v-col>
                                        <v-col>
                                            {{film.info.rating}}/10
                                        </v-col>
                                        <v-col>
                                            <v-img max-height="70"
                                                max-width="70" :src=film.info.image_url></v-img>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </li>
                        </ul>
                    </v-col>
                </v-row>
            </v-container>
        </v-app>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        const queryURL = "http://localhost:8001"
        new Vue({
            el: "#app",
            data: {
                numbers: [ //check user input is valid
                    value => !!value || "Required.",
                    value => (value || '').length <= 4 || "Max 4 digits",
                    value => /^\d+/.test(value) || "Numbers only."
                ],
                name: [ //check user input is valid
                    value => !!value || "Required."
                ],
                films: [],
                year: "",
                title: "",
                dbUnloaded: true
            },
            methods: {
                createDB: function () {
                    axios.post(queryURL + "/database").then(res => {
                        this.dbUnloaded = false;
                        alert(res.data);
                    }).catch(err => {
                        alert("Failed to create database");
                        console.error(err);
                    })
                },
                deleteDB: function () {
                    axios.delete(queryURL + "/database").then(res => {
                        this.dbUnloaded = true;
                        alert(res.data);
                    }).catch(err => {
                        alert("Failed to delete database");
                        console.log(err);
                    })
                },
                searchDB: function () {
                    axios.get(queryURL + "/movie", {
                        params: {
                            year: this.year,
                            title: this.title
                        }
                    }).then(res => {
                        this.films = res.data;
                    }).catch(err => {
                        console.log(err);
                    })
                }
            },
            vuetify: new Vuetify()
        })
    </script>
</body>

</html>
